.designerLayout {
  min-width: 1200px;
  width: 100%;
  min-height: 482px;
  height: 100%;
}

.designerInfoLayout {
  height: $designerInfoLayoutHeight;
  background: $white-color;
  border-bottom: 0 solid #fd395d;
  z-index: 99999999;
  position: absolute;
  min-width: inherit;
  width: 100%;
  -webkit-box-shadow: 0 1px 4px hsl(0deg 0% 88% / 50%);
  box-shadow: 0 1px 4px hsl(0deg 0% 88% / 50%);
}

.designerContentLayout {
  min-height: 420px;
  position: absolute;
  top: 58px;
  bottom: 0;
  min-width: inherit;
  width: 100%;
  background: #f1f3f7;
}

.designerToolLayout {
  position: absolute;
  width: 80px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-box-shadow: -5px 0 5px -5px #cecece;
  box-shadow: -5px 0 5px -5px #cecece;
  z-index: 999999;
  background: #f8f9fb;
  -webkit-transition: all .15s linear;
  transition: all .15s linear;
}

.designerCanvasLayout {
  position: absolute;
  left: 80px;
  right: 260px;
  top: 0;
  bottom: 0;
  background: #f1f3f7;
  overflow: hidden;
}

.designerToolPanel {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: #fff;
  width: 260px;
  -webkit-box-shadow: 0 0 10px #cecece;
  box-shadow: 0 0 10px #cecece;
  z-index: 9999999;
  -webkit-box-shadow: 2px 0 4px hsl(0deg 0% 80% / 64%);
  box-shadow: 2px 0 4px hsl(0deg 0% 80% / 64%);
}